<div>
    <div class="container-fluid">
        <div class="row bg-info">
            <div class="col-md-3"></div>
              <div class="col-md-6">
                <br>
                <br>
                <h2 class="text-primary text-center">Projects</h2>
                <br>
                <br>
              </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row"><br></div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="row">
              <img src="../../../assets/p1.jpeg">
            </div>
            <div class="row">
              Description of project 01
            </div>
            <div class="row">
              Links to project01
            </div>
          </div>
          <div class="col-md-2">
          </div>
          <div class="col-md-4">
              <div class="row">
                  <img src="../../../assets/p2.jpeg">
                </div>
                <div class="row">
                  Description of project 02
                </div>
                <div class="row">
                  Links to project02
                </div>
          </div>
          <div class="col-md-1"></div>
        </div>
        <div class="row"><br></div>
        <div class="row"><br></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
              <div class="row">
                  <img src="../../../assets/p3.png">
              </div>
              <div class="row">
                Description of project 03
              </div>
              <div class="row">
                Links to project03
              </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="row">
                    <img src="../../../assets/p4.jpeg">
                  </div>
                  <div class="row">
                    Description of project 04
                  </div>
                  <div class="row">
                    Links to project04
                  </div>
            </div>
            <div class="col-md-1"></div>
          </div>
    </div>
</div>