<div class="container">
    <form role = "form">
    
            <div class = "form-group">
               <label for = "Username">Username</label>
               <input type = "text" class = "form-control" id = "Username" placeholder = "Enter User Name">
            </div>
            <div class = "form-group">
                    <label for = "Password">Password</label>
                    <input type = "password" class = "form-control" id = "Password" placeholder = "Enter Password" data-toggle="popover" data-placement="right"
                    data-content="Please enter your password">
                 </div>
            <button type = "button" class = "btn btn-default" data-toggle = "modal" data-target = "#LoginModal">
                    <span class = "glyphicon glyphicon-user"></span> 
                    Submit</button>
    
            <div class = "alert alert-danger alert-dismissable">
                            <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
                               &times;
                            </button>
                             
                            Error ! Change few things.
            </div>
    </form>

  </div>