<div>
    <div class="container-fluid">
        <div class="row bg-info">
            <div class="col-md-3"></div>
              <div class="col-md-6">
                <br>
                <br>
                <h2 class="text-primary text-center">Venkata Krishna Mohan Sunkara</h2>
                <br>
                <br>
              </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class= "col-md-2"></div>
            <div class="col-md-2">
              <h3 class="text-info text-right">Contact</h3>
            </div>
            <div class="col-md-4">
              <br>
              <h5>Email</h5>
              <p>sunkara.km96@gmail.com</p>
            </div>
            <div class="col-md-4">
              <br>
                <h5>Website </h5>
                <p><a href=""><label class="text-info">http://km96.com</label></a></p>
            </div>
        </div>
        <div class="row">
            <div class= "col-md-2"></div>
            <div class="col-md-2">
                <h3 class="text-info text-right">About</h3>
            </div>
            <div class="col-md-8">
              <br>
              <p>I am tech enthusiast and engineer by trade. My passion is to solve real problems which can make an impact on society. I hope to pursue a role where I can apply Data Science techniques to make the world a better place.</p>   
            </div>
        </div>
        <div class="row">
            <div class= "col-md-2"></div>
            <div class="col-md-2">
              <h3 class="text-info text-right">Profiles</h3>
            </div>
            <div class="col-md-8">
              <br>
              <div class="row">
                  <div class="col-md-6">
                        <h5> Resume</h5>
                        <a href="../../../assets/kmresume.pdf">view resume</a>
                  </div>
                  <div class="col-md-6">
                        <h5>Github</h5>
                        <a href="https://github.com/venkatakrishnamohan">vksunkara</a>
                  </div>
              </div> 
              <div class="row">    
                  <div class="col-md-6">                                           
                    <h5>Linkedin</h5>
                    <a href="https://www.linkedin.com/in/krishna13sunkara">kmsunkara</a>
                  </div>
                  <div class="col-md-6"></div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class= "col-md-2"></div>
            <div class="col-md-2">
                    <h3 class="text-info text-right">Work</h3>
                </div>
                <div class="col-md-8">
                <br>
                    <div class="row">
                        <div class="col-md-8"><h5>Infosys Ltd</h5></div>
                        <div class="col-md-4 date">January 2017 - May 2017</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                    <span><em>Software Development Intern</em></span>
                    <div>
                        <p>Participated in the training program and managed a team of 6 developing an Online Bus Ticket Reservation application using <strong>AngularJs</strong> and <strong>Java</strong>.
                        </p>
                    </div>
                    <div>
                        <em>Responsibilities</em>
                        <ul>
                            <li>
                                Designed and implemented different layers (Presentation Layer, Business Access Layer, Persistence layer) using <strong>MVC</strong> architecture. 
                            </li>
                            <li> Designed Graphical User Interfaces using <strong>CSS, Bootstrap, AngualrJS.</strong> </li>
                            <li> Acted as Scrum master during the entire project and increased the productivity of team by 10%. </li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="row">
                        <div class="col-md-8"><h5>ECIL Ltd</h5></div>
                        <div class="col-md-4 date">2016-06-15 - 2016-07-15</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                    <span><em>Intern</em></span>
                    <div>
                        <p>Obtained critical experience during college on software development for mission-critical scenarios.</p>
                    </div>
                    <div>
                        <em>Responsibilities</em>
                        <ul>
                            <li>
                                Involved in different phases of life cycle including requirements, design, analysis, coding, testing.
                            </li>
                            <li>Performed database operations on Oracle Server to create and maintain information by
                                    creating SQL queries, stored procedures, and views.</li>
                            <li>Implemeted software features for Graphical User Interface using CSS, Bootstrap</li>
                        </ul>
                    </div>
                </div>
                </div>
                 </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <h3 class="text-info text-right">Activities</h3>
            </div>
            <div class="col-md-8">
            <br>
            <div class="row">
                    <div class="col-md-8">
                            <h5>Graduate Teaching Assistant</h5>
                            <p>University of Nebraska Lincoln <br>
                            Teaching Assistant, Grader for a computer science class</p>
                            </div>
                            <div class="col-md-4">
                               <div class="date">2017-08-21 -</div>
                     </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <h3 class="text-info text-right">Education</h3>
            </div>
            <div class="col-md-8">
            <br>
                <div class="row">
                    <div class="col-md-8">
                    <h5>University of Nebraska Lincoln</h5>
                    <span class="fa fa-graduation-cap"><em>Computer Science Engineering</em></span>
                    <p>Masters</p>
                    </div>
                    <div class="col-md-4">
                       <div class="date">2017-08-21 -</div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-8">
                    <h5>Jawaharlal Nehru Technological Univeristy- Hyderabad</h5>
                    <span class="fa fa-graduation-cap"><em>Computer Science Engineering</em></span>
                    <p>Bachelor</p>
                    </div>
                    <div class="col-md-4">
                        <div class="date">2013-09-21 - 2017-05-15</div>
                    </div>
                </div>
            </div>
         </div>
         <div class="row">
            <div class= "col-md-2"></div>
            <div class="col-md-2">
                <h3 class="text-info text-right">Skills</h3>
            </div>
            <div class="col-md-8">
              <br>
              <div class="row">
                  <div class="col-md-6">
                      <h5>Programming Languages</h5>
                      <ul>
                          <li>C</li>
                          <li>C++</li>
                          <li>Java</li>
                          <li>Python</li>
                      </ul>
                   </div>
                   <div class="col-md-6">
                      <h5>Database Technologies</h5>
                      <ul>
                          <li>Oracle</li>
                          <li>MYsql</li>
                          <li>PL/SQL</li>
                      </ul>
                   </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
              <h5>Web Technologies</h5>
              <ul>
                  <li>HTML5</li>
                  <li>CSS3</li>
                  <li>Express</li>
                  <li>Java Script</li>
                  <li>Node JS</li>
                  <li>Angular JS</li>
              </ul>
           </div>
           <div class="col-md-6">
                  <h5>API</h5>
                  <ul>
                      <li>JDBC</li>
                      <li>RESTful Web service</li>
                  </ul>
               </div>
          </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <h3 class="text-info text-right">Certifications</h3>
            </div>
            <div class="col-md-8">
            <br>
           <div class="row">
               <div class="col-md-8">
                   <p>CS50X: Introduction to Computer Science - EDX</p>
               </div>
               <div class="col-md-4">
                   <p class="date">January, 2016</p>
               </div>
           </div>
           <div class="row"><div class="col-md-8">
                <p>Programming for Everybody(Python) - Coursera</p>
            </div>
            <div class="col-md-4">
                <p class="date">September, 2015</p>
            </div></div>
            </div>
          </div>
      </div>
</div>